.container {
    position: relative;
    display: inline-flex;
    user-select: none;
    cursor: pointer;
    margin: 0 10px;
    -webkit-tap-highlight-color: transparent;
}

.tooltipContent {
    color: #ffffff;
    position: absolute;
    z-index: 10;
    padding: 12px;
    font-size: 12px;
    cursor: default;
    border-radius: 3px;
    white-space: nowrap;
    font-family: monospace;
    background-color: grey;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.16);
    animation: fadeIn ease-in-out 0.65s;

    &.sm {
        max-width: 23rem;
    }

    &.md {
        max-width: 40rem;
    }
}

/* .tooltipContentLight{
    color:grey;
    background-color: #ffffff;
    .arrow {
        background-color: #ffffff;
        border-right: 10px solid transparent;
        border-top: 10px solid #ffffff;
        border-left: 10px solid transparent;
    }
} */


.arrow {
    position: absolute;
    width: 0;
    height: 0;
}

.up {
    bottom: calc(100% + 18px);
    left: 50%;
    transform: translateX(-50%);

    .arrow {
        bottom: -8px;
        left: calc(50% - 10px);
        border-right: 10px solid transparent;
        border-top: 10px solid grey;
        border-left: 10px solid transparent;
    }
}

.right,
.left {
    top: 50%;
    transform: translateY(-50%);

    .arrow {
        top: calc(50% - 10px);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
}

.right {
    left: calc(100% + 18px);

    .arrow {
        left: -8px;
        border-right: 10px solid grey;
    }
}

.left {
    right: calc(100% + 18px);

    .arrow {
        right: -8px;
        border-left: 10px solid grey;
    }
}

.down {
    top: calc(100% + 18px);
    left: 50%;
    transform: translateX(-50%);

    .arrow {
        top: -8px;
        left: calc(50% - 10px);
        border-right: 10px solid transparent;
        border-bottom: 10px solid grey;
        border-left: 10px solid transparent;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
